///////////////////* Font family *///////////////////

$font-family-comfortaa: 'Comfortaa', cursive;
$font-family-kanit: 'Kanit', sans-serif;

///////////////////* Font weights *///////////////////

///Comfortaa

$comfortaa-weight-300: 300;
$comfortaa-weight-400: 400;
$comfortaa-weight-500: 500;
$comfortaa-weight-600: 600;
$comfortaa-weight-700: 700;

////Kanit
/// Every weight has its own italic style

$kanit-weight-200: 200;
$kanit-weight-300: 300;
$kanit-weight-400: 400;
$kanit-weight-500: 500;
$kanit-weight-600: 600;
$kanit-weight-700: 700;

$kanit-weight-italic-italic: italic;

///////////////////* Font sizes *///////////////////

$fs-xs: 10px;
$fs-s: 12px;
$fs-m: 16px;
$fs-l: 20px;
$fs-xl: 24px;
$fs-xxl: 28px;
$fs-xxxl: 34px;

////Headers

$fs-h1: 38px;
$fs-h2: 30px;
$fs-h3: 22px;

///////////////////* Colors *///////////////////

$color-white: #dbdbdb;
$color-black: #0b0c10;
$color-blue-dark: #1f2833;
$color-blue-grayish: #c5c6c7;
$color-soft-cyan: #66fcf1;
$color-dark-cyan: #45a29e;
