.projects-wrapper .projects-container .projects-title {
  position: relative;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  opacity: 0.8;
  margin-bottom: 2rem;
  text-align: center;
}
.projects-wrapper .projects-container .projects-title::after {
  position: absolute;
  bottom: -15px;
  right: 65px;
  content: "";
  width: 25px;
  height: 5px;
  background-color: #fc4445;
  border-radius: 5px;
}

.projects-wrapper .projects-container .project .project-info-wrapper .links-container .project-link button, .projects-wrapper .projects-container .project .project-info-wrapper .links-container .live-link button {
  font-family: "Comfortaa", cursive;
  width: 110px;
  padding: 5px;
  border: none;
  border-radius: 18px;
  color: #000000;
  background-color: #fc4445;
  font-size: 28px;
  box-shadow: 0px 8px 10px 1px #000000;
}
.projects-wrapper .projects-container .project .project-info-wrapper .links-container .project-link button:is(:hover, :focus-visible, :active), .projects-wrapper .projects-container .project .project-info-wrapper .links-container .live-link button:is(:hover, :focus-visible, :active) {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.3s ease-in;
}
.projects-wrapper .projects-container .project .project-info-wrapper .links-container .project-link button:is(:hover, :focus-visible, :active) p, .projects-wrapper .projects-container .project .project-info-wrapper .links-container .live-link button:is(:hover, :focus-visible, :active) p {
  color: #ffffff;
  transform: translateX(-8px);
  transition: 0.3s ease-in;
  text-shadow: 3px 3px #000000;
}

.projects-wrapper .projects-container .project .project-img-container .card-img {
  z-index: 1;
  position: absolute;
  left: 40px;
  top: 15px;
  width: 224px;
}

.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Comfortaa", cursive;
  margin-bottom: 5rem;
}
.projects-wrapper .projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  width: 300px;
  padding-top: 5rem;
}
.projects-wrapper .projects-container .projects-title {
  width: 156px;
  text-align: center;
}
.projects-wrapper .projects-container .project {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.projects-wrapper .projects-container .project .project-img-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
}
.projects-wrapper .projects-container .project .project-img-container .vector {
  z-index: 2;
  width: 300px;
}
.projects-wrapper .projects-container .project .project-info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(54, 54, 54, 0.5607843137);
  box-shadow: 0px 0px 12px 2px #55bcc9;
  border-radius: 0.8rem;
  padding: 10px 5px 10px 5px;
}
.projects-wrapper .projects-container .project .project-info-wrapper .info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  line-height: 1.4rem;
  font-size: 14px;
}
.projects-wrapper .projects-container .project .project-info-wrapper .info-container .info-title {
  margin-bottom: 1rem;
  font-size: 22px;
}
.projects-wrapper .projects-container .project .project-info-wrapper .btn-container {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.projects-wrapper .projects-container .project .project-info-wrapper .btn-container button {
  font-family: "Comfortaa", cursive;
  background-color: #55bcc9;
  border: none;
  border-radius: 5px;
  padding: 4px;
  margin-right: 8px;
  margin-top: 8px;
}
.projects-wrapper .projects-container .project .project-info-wrapper .links-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 410px) {
  .projects-container {
    width: 390px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .card-img {
    left: 85px !important;
    transition: 1s ease-in-out;
  }
}
@media only screen and (min-width: 576px) {
  .projects-container {
    width: 540px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .card-img {
    left: 160px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project .project-info-wrapper {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    transition: 1s ease-in-out;
  }
}
@media only screen and (min-width: 768px) {
  .projects-container {
    width: 730px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .vector {
    width: 540px !important;
  }
  .projects-container .project-img-container .card-img {
    width: 390px !important;
    left: 170px !important;
    top: 30px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project .project-info-wrapper {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    transition: 1s ease-in-out;
  }
}
@media only screen and (min-width: 992px) {
  .projects-container {
    width: 940px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .vector {
    width: 730px !important;
  }
  .projects-container .project-img-container .card-img {
    width: 540px !important;
    left: 205px !important;
    top: 40px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project .project-info-wrapper {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project .project-info-wrapper .links-container {
    display: flex;
    justify-content: center;
    gap: 5rem !important;
    margin-top: 4rem;
  }
  .projects-container .project .project-info-wrapper .links-container .project-link button {
    width: 220px !important;
    padding: 15px !important;
    border-radius: 2px !important;
    box-shadow: none !important;
  }
  .projects-container .project .project-info-wrapper .links-container .project-link button:is(:hover, :focus-visible, :active) {
    transform: none !important;
    transition: 0.1s ease-in;
    background-color: #000000;
  }
  .projects-container .project .project-info-wrapper .links-container .project-link button:is(:hover, :focus-visible, :active) p {
    color: #fc4445 !important;
    transform: none !important;
    transition: 0.1s ease-in;
    text-shadow: none !important;
  }
  .projects-container .project .project-info-wrapper .links-container .live-link button {
    width: 220px !important;
    padding: 15px !important;
    border-radius: 2px !important;
    box-shadow: none !important;
  }
  .projects-container .project .project-info-wrapper .links-container .live-link button:is(:hover, :focus-visible, :active) {
    transform: none !important;
    transition: 0.1s ease-in;
    background-color: #000000;
  }
  .projects-container .project .project-info-wrapper .links-container .live-link button:is(:hover, :focus-visible, :active) p {
    color: #fc4445 !important;
    transform: none !important;
    transition: 0.1s ease-in;
    text-shadow: none !important;
  }
}
@media only screen and (min-width: 1200px) {
  .projects-wrapper {
    overflow: hidden;
  }
  .projects-container {
    width: 1380px !important;
    transition: 1s ease-in-out;
    gap: 12rem !important;
    margin-bottom: 2rem;
  }
  .projects-container .project-img-container {
    width: fit-content !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .vector {
    width: 540px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project-img-container .card-img {
    width: 390px !important;
    left: 78px !important;
    top: 30px !important;
    transition: 1s ease-in-out;
  }
  .projects-container .project {
    position: relative;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    transition: 1s ease-in-out;
  }
  .projects-container .project .project-info-wrapper {
    z-index: 1;
    padding: 1rem !important;
    transition: 1s ease-in-out;
    width: 540px;
    transition: 1s ease-in-out;
    background-color: #464646 !important;
  }
  .projects-container .project .project-info-wrapper .btn-container button {
    color: rgba(24, 24, 24, 0.8);
    background-color: #55bcc9 !important;
  }
  .projects-container .project .project-info-wrapper .info-text,
  .projects-container .project .project-info-wrapper .info-note {
    color: #ffffff;
  }
  .projects-container .project .project-info-wrapper .links-container {
    display: flex;
    justify-content: center;
    gap: 3rem !important;
    margin-top: 4rem;
    transition: 1s ease-in-out;
  }
  .projects-container .project::after {
    z-index: 0;
    position: absolute;
    bottom: 150px;
    content: "";
    width: 250%;
    height: 10vh;
    background-color: #fc4445;
    transform: rotate(5deg);
    transition: 1s ease-in-out;
  }
}/*# sourceMappingURL=Projects.css.map */