@forward '../../sass/templates';
@use '../../sass/variables' as v;

//Main wrapper

.navbar-wrapper {
  font-family: v.$font-family-kanit;
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 4;
  transition: top 0.3s;

  //Navbar container

  .navbar-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 4rem;
    width: 100vw;
    background-color: v.$color-white-cyan;

    //Logo container

    .logo-container {
      display: flex;
      position: absolute;
      top: 12px;
      left: 20px;

      //logo image
      .logo {
        width: 35px;
        border-radius: 50%;
        opacity: 0.5;

        &:is(:hover, :focus-visible, :active) {
          opacity: 1;
          border: 1px solid v.$color-moderate-cyan;
        }
      }

      //Logo name text

      .logo-name {
        font-size: v.$fs-m;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: v.$color-black;
        opacity: 0.5;
        padding-top: 5px;
        padding-left: 15px;

        &:is(:hover, :focus-visible, :active) {
          opacity: 1;
          color: v.$color-red;
        }
      }

      .logo {
        &:is(:hover, :focus-visible, :active) + .logo-name {
          opacity: 1;
          color: v.$color-red;
        }
      }
    }

    //Desktop menu - only shows at desktop screens

    .navlinks-container {
      display: none;

      .decor-arrow {
        display: none;
      }
    }

    //Mobile menu icons

    .hamburger {
      z-index: 3;
      position: absolute;
      right: 20px;
      top: 18px;
      font-size: v.$fs-xl;
      color: v.$color-black;

      &:is(:hover, :focus-visible, :active) {
        cursor: pointer;
        animation: menuShake 0.4s infinite;
      }
    }

    .close {
      z-index: 3;
      position: absolute;
      right: 20px;
      top: 18px;
      font-size: v.$fs-xl;
      color: v.$color-moderate-cyan;

      &:is(:hover, :focus-visible) {
        cursor: pointer;
      }
    }
  }
}

//Mobile Menu - only shows at mobile screens

.navbar-mobile {
  z-index: 2;
  position: relative;
  display: flex;
  height: fit-content;
  width: 100%;
  animation: mobilemenu 1s;

  //Navlinks container

  .navlinks {
    z-index: inherit;
    display: flex;
    flex-direction: column;
    position: inherit;
    top: 64px;
    width: 100%;
    background-color: v.$color-white-cyan;

    a {
      position: relative;
      text-decoration: none;
      color: v.$color-white-cyan;

      //Links

      .navlink {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        text-transform: uppercase;
        font-weight: v.$comfortaa-weight-700;
        height: 4rem;
        color: v.$color-moderate-cyan;
        padding-right: 1.5rem;
        border-top: 1px solid #c0c0c073;

        &:is(:hover, :focus-visible, :active) {
          background-color: v.$color-red;
          color: v.$color-white-cyan;

          .hover-arrow {
            opacity: 1;
          }

          h3 {
            transform: translateX(-15px);
            transition: 0.15s ease-in;
            text-shadow: 8px 5px v.$color-black;
          }
        }

        //When hover, display the triangle,default opacity: 0;

        .hover-arrow {
          opacity: 0;
          position: absolute;
          bottom: 20px;
          left: 0;
          color: v.$color-white-cyan;
          font-size: v.$fs-xl;
        }
      }
    }
  }

  //Decor arrow left when menu is sliding

  .decor-arrow {
    z-index: -1;
    position: absolute;
    left: -85px;
    bottom: 25px;
    font-size: 140px;
    color: v.$color-red;
  }
}

//keyframes
@keyframes mobilemenu {
  from {
    transform: translateX(450px);
    transition: 0.5s ease-in;
  }
  to {
    transform: translateX(0px);
    transition: 0.5s ease-in;
  }
}

@keyframes menuShake {
  0% {
    transform: rotate(0deg);
    transition: 0.2s ease-in;
  }
  20% {
    transform: rotate(15deg);
    transition: 0.2s ease-in;
  }
  50% {
    transform: rotate(-15deg);
    transition: 0.2s ease-in;
  }
  100% {
    transform: rotate(0);
    transition: 0.2s ease-in;
  }
}
//Media Queries

//******** Breakpoint - lg 992px ********//

@media only screen and (min-width: v.$breakpoint-lg) {
  //Mobile menu disabled

  .navbar-mobile {
    display: none;
  }

  //Mobile menu icons - Disabling it desktop mode

  .hamburger {
    display: none !important;
  }

  .close {
    display: none !important;
  }

  //Desktop Navbar

  .navlinks-container {
    display: flex !important;

    //Navlinks container

    .navlinks {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 5px 30px 5px 5px;

      a {
        text-decoration: none;
        color: v.$color-moderate-cyan;
        letter-spacing: 2px;
      }

      .navlink {
        position: relative;
        display: flex;

        &:is(:hover, :active) {
          color: v.$color-red;

          .hover-arrow {
            display: block !important;
          }
        }

        .hover-arrow {
          display: none !important;
          position: absolute;
          left: -25px;
          top: 3px;
          font-size: v.$fs-xl;
          color: v.$color-red;
        }
      }
    }
  }
}
