@use '../../sass/variables' as v;
@forward '../../sass/templates';

//Main wrapper

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: v.$font-family-comfortaa;
  padding-bottom: v.$component-gap;
  background-image: linear-gradient(to right, rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.8)),
    url('https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg');
  background-repeat: repeat;
  background-size: cover;

  //Contact container

  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: v.$mobile-s-width;
    padding-top: 5rem;

    //Title

    .contact-title {
      @extend %title-style;
      width: 156px;
      text-align: center;
    }

    //Small text at top

    .contact-text {
      text-align: center;
      width: 280px;
    }

    //Main container for form

    .contact-form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: v.$contact-form-s;
      background-color: v.$color-white-cyan;
      border-radius: 1rem;

      //Actual form

      .contact-form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: v.$contact-form-s-inner;
        padding: 15px 0px 15px 0px;

        //Form field for each input

        .contact-form-field {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          //Label

          .contact-form-label {
            font-size: v.$fs-m;
            font-family: v.$font-family-kanit;
          }

          //Input - Input
          .contact-form-input {
            font-family: v.$font-family-comfortaa;
            padding: 5px;
            padding-left: 10px;
            color: v.$color-black;
            background-color: #e7e7e7;
            border: 2px solid transparent;
            border-radius: 1rem;
            outline: none;

            //***************** Validation - name *****************//

            &:not(:focus) + span::after {
              position: absolute;
              left: 10px;
              content: 'Please write a valid name';
              font-size: v.$fs-xs;
            }

            &:valid + span::after {
              position: absolute;
              left: 10px;
              content: 'Valid name';
              font-size: v.$fs-xs;
              color: green;
              transition: 0.3s ease;
            }

            &:valid {
              border: 2px solid green;
              transition: 0.3s ease;
            }

            &:invalid {
              border: 2px solid red;
              transition: 0.3s ease;
            }

            &:is(:placeholder-shown) {
              border: 2px solid transparent;
              transition: 0.3s ease;
            }

            &::placeholder {
              font-family: v.$font-family-comfortaa;
            }
          }

          //Input - Email
          .contact-form-email {
            font-family: v.$font-family-comfortaa;
            padding: 5px;
            padding-left: 10px;
            color: v.$color-black;
            background-color: #e7e7e7;
            border: 2px solid transparent;
            border-radius: 1rem;
            outline: none;

            //***************** Validation - email *****************//

            &:not(:focus) + span::after {
              position: absolute;
              left: 10px;
              content: 'Please write a valid email';
              font-size: v.$fs-xs;
            }

            &:valid + span::after {
              position: absolute;
              left: 10px;
              content: 'Valid email';
              font-size: v.$fs-xs;
              color: green;
              transition: 0.3s ease;
            }

            &:valid {
              border: 2px solid green;
              transition: 0.3s ease;
            }

            &:invalid {
              border: 2px solid red;
              transition: 0.3s ease;
            }

            &:is(:placeholder-shown) {
              border: 2px solid transparent;
              transition: 0.3s ease;
            }

            &::placeholder {
              font-family: v.$font-family-comfortaa;
            }
          }

          //Input - Textarea
          .contact-form-textarea {
            font-family: v.$font-family-comfortaa;
            padding-top: 10px;
            padding-left: 10px;
            border: none;
            color: v.$color-black;
            background-color: #e7e7e7;
            border-radius: 1rem;
            outline: none;
            resize: none;
            border: 2px solid transparent;

            //***************** Validation - textarea *****************//

            &:not(:focus) + span::after {
              position: absolute;
              left: 10px;
              content: 'Please write a message';
              font-size: v.$fs-xs;
            }

            &:valid + span::after {
              position: absolute;
              left: 10px;
              content: 'Valid message';
              font-size: v.$fs-xs;
              color: green;
              transition: 0.3s ease;
            }

            &:valid {
              border: 2px solid green;
              transition: 0.3s ease;
            }

            &:invalid {
              border: 2px solid red;
              transition: 0.3s ease;
            }

            &:is(:placeholder-shown) {
              border: 2px solid transparent;
              transition: 0.3s ease;
            }

            &::placeholder {
              font-family: v.$font-family-comfortaa;
            }
          }
        }

        //Submit button

        .submit-btn-container {
          display: flex;
          justify-content: center;
          width: 100%;

          .btn-submit {
            margin-top: 2rem;
            @extend %contact-btn;
          }
        }
      }
    }
  }
}

//Media queries

//******** Breakpoint - sm 410px ********//

@media only screen and (min-width: v.$breakpoint-sm) {
  .contact-container {
    width: v.$mobile-sm-width !important;
    transition: 1s ease-in-out;

    .contact-form-container {
      width: v.$contact-form-sm !important;
      transition: 1s ease-in-out;

      .contact-form {
        width: v.$contact-form-sm-inner !important;
        transition: 1s ease-in-out;

        .submit-btn-container {
          .btn-submit {
            width: v.$mobile-sm-width !important;
          }
        }
      }
    }
  }
}

//******** Breakpoint - m 576px ********//

@media only screen and (min-width: v.$breakpoint-m) {
  .contact-container {
    width: v.$mobile-m-width !important;
    transition: 1s ease-in-out;

    .contact-text {
      width: v.$mobile-sm-width !important;
    }

    .contact-form-container {
      width: v.$contact-form-m !important;
      transition: 1s ease-in-out;

      .contact-form {
        width: v.$contact-form-m-inner !important;
        transition: 1s ease-in-out;

        .btn-submit {
          width: v.$mobile-sm-width !important;
        }
      }
    }
  }
}

//******** Breakpoint - md 768px ********//

@media only screen and (min-width: v.$breakpoint-md) {
  .contact-container {
    width: v.$tablet-width !important;
    transition: 1s ease-in-out;

    .contact-text {
      width: v.$mobile-m-width !important;
    }

    .contact-form-container {
      width: v.$contact-form-md !important;
      transition: 1s ease-in-out;

      .contact-form {
        width: v.$contact-form-md-inner !important;
        transition: 1s ease-in-out;

        .btn-submit {
          width: v.$mobile-sm-width !important;
        }
      }
    }
  }
}
