@use '../../sass/variables' as v;
@forward '../../sass/templates';

//Main wrapper
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: v.$font-family-comfortaa;
  background-color: v.$color-black;
  color: v.$color-white-cyan;

  //Footer container

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: v.$mobile-s-width;
    padding-top: 1rem;

    .social {
      display: flex;
      flex-direction: column;
      align-items: center;

      //title
      .social-title {
        @extend %title-style;
        width: 156px;
        text-align: center;
      }

      //Social icons container

      .social-icons-container {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin-top: 1rem;

        //link
        a {
          color: v.$color-white-cyan;
        }

        //Each icon
        .social-icon {
          font-size: v.$fs-h2;

          &:is(:hover, :focus-visible, :active) {
            color: v.$color-red;
            cursor: pointer;
          }
        }
      }
    }

    .footer-outro {
      .footer-outro-text {
        text-align: center;
      }
    }

    //Copyright container

    .copyright-container {
      margin-bottom: 1rem;

      .copy {
        color: v.$color-moderate-cyan;
        font-size: v.$fs-xs;

        //Name link
        .footer-copy-link {
          a {
            color: v.$color-soft-blue;
          }
        }
      }
    }
  }
}

//Media queries

//******** Breakpoint - sm 410px ********//

@media only screen and (min-width: v.$breakpoint-sm) {
  .footer-container {
    width: v.$mobile-sm-width !important;
    transition: 1s ease-in-out;
  }
}

//******** Breakpoint - m 576px ********//

@media only screen and (min-width: v.$breakpoint-m) {
  .footer-container {
    width: v.$mobile-m-width !important;
    transition: 1s ease-in-out;
  }
}

//******** Breakpoint - md 768px ********//

@media only screen and (min-width: v.$breakpoint-md) {
  .footer-container {
    width: v.$mobile-m-width !important;
    transition: 1s ease-in-out;
  }
}

//******** Breakpoint - lg 992px ********//

@media only screen and (min-width: v.$breakpoint-lg) {
  .footer-wrapper {
    height: 100%;
    .footer-container {
      height: 40vh;
      width: v.$tablet-width !important;
      transition: 1s ease-in-out;
    }
  }
}

//******** Breakpoint - xl 1200px ********//

@media only screen and (min-width: v.$breakpoint-xl) {
  .footer-wrapper {
    height: 100%;
    .footer-container {
      height: 40vh;
      width: v.$tablet-width !important;
      transition: 1s ease-in-out;

      .social-icon {
        font-size: v.$fs-h1 !important;
      }
    }

    //Copyright container

    .copyright-container {
      margin-bottom: 0 !important;

      .copy {
        padding-top: 5rem;

        //Name link
        .footer-copy-link {
          a {
            color: v.$color-soft-blue;
          }
        }
      }
    }
  }
}
